<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

  <form th:method="POST" th:action="@{admin/newUser}" th:object="${user}">
      <label for="username">Username: </label>
      <input type="text" th:field="*{name}" id="username" placeholder="username">
      <br>
      <br>
      <label for="surname">Surname: </label>
      <input type="text" th:field="*{lastName}" id="surname" placeholder="surname">
      <br>
      <br>
      <label for="age">Age: </label>
      <input type="text" name="age" id="age" placeholder="age">
      <br>
      <br>
      <label for="password">password: </label>
      <input type="text" name="password" id="password" placeholder="password">
      <br>
      <br>
      <input type="submit" value="Create"/>
  </form>
  <br>
  <form action="#" th:action="@{/admin}" method="get">
      <input type="submit" value="Back"/>
  </form>
  <br>
  <form action="#" th:action="@{/logout}" method="get">
      <input type="submit" value="exit"/>
  </form>
</body>
</html>